.main {
  background-color: #1c1c1c;
  color: #a1a1a1;
  height: 100svh;
  width: 100svw;
}

.winner-box {
  height: 70svh;
  max-width: 100svw;
  line-break: anywhere;

  .winner {
    font-size: 3rem;
    font-weight: 700;

    @media (min-width: 576px) {
      font-size: 6rem;
    }
  }
}

.btn-exit {
  user-select: none; /* Padrão */
  -webkit-user-select: none; /* Safari */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  cursor: pointer;

  &:active {
    color: #fff;
  }
}

.glowing-text {
  color: #fff;
  animation: glow 2s infinite;

  @keyframes glow {
    0% {
      text-shadow: 0 0 5px rgba(255, 255, 255, 0.7);
    }
    50% {
      text-shadow: 0 0 20px rgba(255, 255, 255, 1);
    }
    100% {
      text-shadow: 0 0 5px rgba(255, 255, 255, 0.7);
    }
  }
}
